# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
